.testimonial-section {
  background: #fff;
  padding: 100px 0;
}

.inner-width {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.testimonial-section h1 {
  text-align: center;
  color: #2e3131;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
}

.border {
  width: 100px;
  height: 0px;
  color: #fff;
  margin: 40px auto;
}

.testimonial {
  background: #e8ecf1;
  padding: 30px;
  overflow: hidden;
  border-radius: 8px;
}

.test-info {
  display: flex;
  height: 50px;
  align-items: center;
}

.test-pic {
  width: 50px !important;
  border-radius: 50%;
  margin-right: 10px;
  transition: 0.4s;
  cursor: pointer;
}

.test-pic:hover {
  transform: scale(0.9)
}

.test-name {
  font-size: 12px;
  color: #19b5fe;
  cursor: pointer;
}

.test-name span {
  display: block;
  font-size: 14px;
  font-weight: 700;
  color: #2e3131;
  padding-bottom: 5px;
  cursor: pointer;
}

.testimonial p {
  font-size: 12px;
  line-height: 22px;
  margin-top: 20px;
}
