* {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

/* header */
nav {
  background-color: #fff;
  font-family: 'Unica One', cursive;
  /* border-bottom: 1px solid #e1e4e8; */
}

.navbar-brand {
  color: #fff;
}

.navbar-toggler-icon {
  background-color: red;
}

.navbar-toggler {
  border-color: #000;
  background-color: #000000;
}

.custom-hamburger .navbar-toggler-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#searchbtn-nav {
  color: #19b5fe;
}
/* header */


/* footer */
footer {
  background-color: #3bb4c1;
  color: #fff;
}

/* #footer {
  border-top: 1px solid #e1e4e8;
} */

footer li {
  cursor: pointer;
  transition: 0.4s;
}

footer li:hover {
  transform: scale(1.1)
}

footer a, footer a:hover {
  color: #fff;
}

footer i {
  font-size: 25px;
  transition: 0.4s;
}

footer i:hover {
  color: #fff;
  transform: scale(1.3)
}
/* footer */
