.inner-width {
  max-width: 1200px;
  padding: 100px 0;
}

.slides {
  padding-top: 50px;
  margin-bottom: 18px;
}

.slides h2 {
  display: flex;
  padding-bottom: 5px;
  font-size: 25px;
  margin-top: 36px;
  margin-bottom: 15px;
  border-bottom: 1px solid #19b5fe;
}

.slides p {
  color: #495057;
}

.middle h1 {
  text-align: center;
  color: #2e3131;
  font-size: 24px;
}
