main h1 {
  color: #19b5fe;
  font-family: 'Open Sans', sans-serif;
}

main p {
  color: #2e3131;
}

main .btn {
  color: #fff;
  border-radius: 17px;
}

main .btn-howto {
  background: #19b5fe;
  transition: 0.3s;
}

main .btn-howto:hover {
  transform:scale(1.025);
  color: #fff;
}

main .btn-install {
  background: #3bb4c1;
  transition: 0.3s;
}

main .btn-install:hover {
  transform:scale(1.025);
  color: #fff;
}
