main h1 {
  color: #19b5fe;
  font-family: 'Open Sans', sans-serif;
}

main p {
  color: #2e3131;
}

main .btn {
  color: #fff;
  border-radius: 17px;
}

main .btn-howto {
  background-color: #19b5fe;
}

main .btn-install {
  background-color: #3bb4c1;
}
