* {
  margin: 0;
  padding: 0;
  font-family: "montserrat",sans-serif;
  box-sizing: border-box
}

a {
  text-decoration: none;
}

/*header*/
header {
  background: #fff;
  padding: 35px;
}

.header-logo {
  color: #2e3131;
  font-size: 20px;
  font-family: 'Unica One', cursive;
  float: left;
  cursor: pointer;
  transition: 0.4s;
}

.header-logo:hover {
  transform: scale(1.1)
}

.header-list {
  float: right;
}

.header-list li {
  list-style: none;
  float: left;
  color: #2e3131;
  font-size: 20px;
  font-family: 'Unica One', cursive;
  padding-right: 35px;
  cursor: pointer;
  transition: 0.4s;
}

.header-list li:hover {
  transform: scale(1.1)
}
/*header*/
.middle {
  height: auto;
  padding: 60px 0px;
  margin-bottom: 170px;
}

.phrase {
  color: #2e3131;
  margin: 100px 30px 150px;
}

.phrase li {
  list-style: none;
  margin-top: 100px;
  margin-left: 30px;
  margin-right: 170px;
  float: right;
}

.phrase h1 {
  font-size: 50px;
}

.phrase P {
  color:#495057;
}

.phrase img {
  margin-left: 180px;
}

@media (max-width:730px) {
  .phrase img {
    margin: 60px;
    text-align: center;
  }

  .middle {
    margin-bottom: 100px;
  }

  .phrase li {
    margin: 5px 0;
    padding: 0 5px;
  }

}

/*footer*/
footer {
  background: #fff;
  margin: auto;
}

.footer-list {
  border-top: 1px solid #e1e4e8;
  margin-top: 100px;
  margin-right: 200px;
  margin-left: 200px;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 35px;
}

.footer-list ul {
  margin-bottom: 20px;
}

.footer-list li {
  display: inline-block;
  list-style: none;
  color: #2e3131;
  font-size: 16px;
  font-family: 'Unica One', cursive;
  padding-right: 35px;
  padding-bottom: 20px;
  left: 50%;
  cursor: pointer;
  transition: 0.4s;
}

.footer-list li:hover {
  transform: scale(1.1)
}

.footer-list p {
  color: #2e3131;
  text-align: center;
  font-size: 15px;
  padding-top: 20px;
  font-family: 'Open Sans', sans-serif;
}

.footer-sns i {
  font-size: 25px;
  cursor: pointer;
  transition: 0.4s;
  color: #abb7b7;
  left: 50%;
}

.footer-sns a {
  text-decoration: none;
}

.footer-sns i:hover {
  transform: scale(1.1)
}
/*footer*/

@media (max-width:730px) {
  .footer-list {
    margin: 0 50px 0;
  }
  
  .footer-list li {
    padding-right: 20px;
  }
}
